body {
    background-image: linear-gradient(to bottom right, rgb(134, 186, 168), antiquewhite );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
}

div.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: flex;
}

.add-task {
    align-items: center;
    justify-content: center;
}

input.add-task {
    display: flex;
    /*width: 200px;*/
    flex: 1 0 200px;
    color:rgb(116, 6, 6);
    border: 2px solid rgb(116, 6, 6);
    border-radius: 8px;
    font-size: 14pt;
    font-family: cursive;
    padding: 4px;
    margin-top: 1em;
    
}

button.add-task {
    /*width: 80px;*/
    display: flex;
    flex: 1 1 80px;
    font-size: 14pt;
    padding: 4px;
    margin-top: 1em;
    margin-left: 4px;
    background-color: rgb(116, 6, 6);
    color: white;
    font-family: cursive;
    border: 2px solid rgb(116, 6, 6);
    border-radius: 8px;
}



button:hover {
    border: 2px solid blue;
}

button:active {
    border: 2px solid whitesmoke;
}

button.del {
    background-color: clear;
    
    color:rgb(116, 6, 6);
    border-radius: 10px;
    border: 2px solid rgb(116, 6, 6);
    margin-left: auto;

}

button.del:hover {
    border: 3px solid rgb(116, 6, 6);
}

button.del:active {
    border: 2px solid whitesmoke;
}

#title {
    font-size: 48pt;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    color: rgb(116, 6, 6);
}

#ul-el {
    display: block;
    justify-content: center;
    font-family: cursive;
    font-size: 14pt;
    list-style: none;
    list-style-type: none;
    color: rgb(116, 6, 6);
    padding-right: 40px;
    max-width: 100%;
}

.container {
    display: block;
    justify-content: center;
}

li {
    margin: 1em;
    max-width: 100%;
}

hr {
    background-color: rgb(116, 6, 6);
    border: 2px solid rgb(116, 6, 6);
    width: 90%;
    margin-top: 2em;
}